/* Sidebar.css */
.sidebar {
    width: 100px;
    height: 100%;
    background-color:transparent;
    padding-top: 20px;
    transition: width 0.3s ease;
  }
  
  .sidebar.closed {
    width: 30;
  }
  
  .sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-list li {
    margin-bottom: 90px;
  }
  
  .sidebar-list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-list a:hover {
    background-color: #555;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    color:black;
    cursor: pointer;
    font-size: 100px;
    padding: 10px;
    
  }
  