.register-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 2px solid #82979e;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background-image:transparent;
  margin-top: 40px;
  margin-right:50px;
}
body
{
  background-image: url("bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-link {
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

.login-link a {
  color: #6226e2; /* Adjust the color as needed */
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
}

.login-link a:hover {
  color: #555; /* Adjust the color as needed */
}
.register-form label {
  display: block;
text-align: center;
  margin-bottom: 8px;
}
.register-form input,
.register-form select {
  width: 60%; /* Make inputs and selects full width */
padding: 8px;
margin-left:100px;
margin-bottom: 16px;
border: 1px solid #467d97;
border-radius: 3px;
box-sizing: border-box;
}

.register-form button {
  background-color: #474c47;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left:175px;
}

.register-form button:hover {
  background-color: #0a0b0a;
}